{% extends "layout.html" %}
{% block title %}Manual Mode{% endblock %}
{% block body %}
<h2>Manual Mode</h2>
<form action="" method=post>
	<table align="center" cellpadding="5">
		<tbody>
			{% for i in totalnum %}
			<tr>
				<th align="center">Room {{ i }} &nbsp;
				<td align="center">LIGHT &nbsp; {% if light[i] == true %}
					<a href="led/{{ i }}/off">OFF</a>&nbsp;&nbsp;
					{% else %}
					<a href="led/{{ i }}/on">ON</a>&nbsp;&nbsp;
					{% endif %} &nbsp;
				<td align="center">WINDOW &nbsp; {% if humid[i] == true %}
					<a href="window/{{ i }}/off">OFF</a>&nbsp;&nbsp;
					{% else %}
					<a href="window/{{ i }}/on">ON</a>&nbsp;&nbsp;
					{% endif %} &nbsp;
				<td align="center">Temperater : <input type=text name=usertemp size=5>도&nbsp;&nbsp;<input type=submit value="SEND">
			</tr>
			{% endfor %}
<!--			<tr>
				<td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
				<th>Room 1 &nbsp;
				<td>LED &nbsp; {% if leds['Room1'].state == true %}
					<a href="/{{'Room1'}}/off">OFF</a>&nbsp;&nbsp;
					{% else %}
					<a href="/{{'Room1'}}/on">ON</a>&nbsp;&nbsp;
					{% endif %} &nbsp;
				<td>WINDOW &nbsp; {% if windows['Room1'].state == true %}
					<a href="/{{'Room1'}}/off">OFF</a>&nbsp;&nbsp;
					{% else %}
					<a href="/{{'Room1'}}/on">ON</a>&nbsp;&nbsp;
					{% endif %} &nbsp;
				<td>Temperater : <input type=text name=usertemp size=5>도&nbsp;&nbsp;<input type=submit value="SEND">
			</tr>
			<tr>
				<td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
				<th>Room 2 &nbsp;
				<td>LED &nbsp; {% if leds['Room2'].state == true %}
					<a href="/{{'Room2'}}/off">OFF</a>&nbsp;&nbsp;
					{% else %}
					<a href="/{{'Room2'}}/on">ON</a>&nbsp;&nbsp;
					{% endif %}
				<td>WINDOW &nbsp; {% if windows['Room2'].state == true %}
					<a href="/{{'Room2'}}/off">OFF</a>&nbsp;&nbsp;
					{% else %}
					<a href="/{{'Room2'}}/on">ON</a>&nbsp;&nbsp;
					{% endif %} &nbsp;
				<td>Temperater : <input type=text name=usertemp size=5>도&nbsp;&nbsp;<input type=submit value="SEND">
			</tr>
			<tr>
				<td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
				<th>Room 3 &nbsp;
				<td>LED &nbsp; {% if leds['Room3'].state == true %}
					<a href="/{{'Room3'}}/off">OFF</a>&nbsp;&nbsp;
					{% else %}
					<a href="/{{'Room3'}}/on">ON</a>&nbsp;&nbsp;
					{% endif %}
				<td>WINDOW &nbsp; {% if windows['Room3'].state == true %}
					<a href="/{{'Room3'}}/off">OFF</a>&nbsp;&nbsp;
					{% else %}
					<a href="/{{'Room3'}}/on">ON</a>&nbsp;&nbsp;
					{% endif %} &nbsp;
				<td>Temperater : <input type=text name=usertemp size=5>도&nbsp;&nbsp;<input type=submit value="SEND">
			</tr>
			<tr>
				<td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
				<th>Room 4 &nbsp;
				<td>LED &nbsp; {% if leds['Room4'].state == true %}
					<a href="/{{'Room4'}}/off">OFF</a>&nbsp;&nbsp;
					{% else %}
					<a href="/{{'Room4'}}/on">ON</a>&nbsp;&nbsp;
					{% endif %}
				<td>WINDOW &nbsp; {% if windows['Room4'].state == true %}
					<a href="/{{'Room4'}}/off">OFF</a>&nbsp;&nbsp;
					{% else %}
					<a href="/{{'Room4'}}/on">ON</a>&nbsp;&nbsp;
					{% endif %} &nbsp;
				<td>Temperater : <input type=text name=usertemp size=5>도&nbsp;&nbsp;<input type=submit value="SEND">
			</tr>
			<tr>
				<td>&nbsp;
				</td> -->
			<tr>
				<td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
				<th>침입 감지 모드
			</tr>
		</tbody>
	</table>
</form>
{% endblock %}
