{% extends "layout.html" %}
{% block title %}Manual Mode{% endblock %}
{% block body %}
<h2>Manual Mode</h2>
<form action="" method=post>
	<table align="center" cellpadding="5">
		<tbody>
			{% for i in range(totalnum) %}
			<tr>
				<th align="center">Room {{ i+1 }} &nbsp;
				<td align="center">LIGHT &nbsp; {% if light[i] == true %}
					<a href="led/{{ i }}/off">OFF</a>&nbsp;&nbsp;
					{% else %}
					<a href="led/{{ i }}/on">ON</a>&nbsp;&nbsp;
					{% endif %} &nbsp;
				<td align="center">WINDOW &nbsp; {% if humid[i] == true %}
					<a href="window/{{ i }}/off">OFF</a>&nbsp;&nbsp;
					{% else %}
					<a href="window/{{ i }}/on">ON</a>&nbsp;&nbsp;
					{% endif %} &nbsp;
				<td align="center">Temperater : 
				<td align="center"> <a href="temper/{{ i }}/up">UP</a>&nbsp;&nbsp;
				<td align="center"> <a href="temper/{{ i }}/down">DOWN</a>&nbsp;&nbsp;
			</tr>
			{% endfor %}
			<tr>
				<td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
				<th>침입 감지 모드
			</tr>
		</tbody>
	</table>
</form>
{% endblock %}
