{% extends "layout.html" %}
{% block title %}Current State{% endblock %}
{% block body %}
<h2>Current State</h2>
{% if error %}<div class=error><strong>Error:</strong> {{ error }}</div>{% endif %}
<form action="" method=post>
	<table align="center">
		<tbody>
			{% for i in totalnum %}			
			<tr>
				<th>Room {{ i }}&nbsp;
					<td> Light : {% if light[i] == 1 %} ON {% else %} OFF{% endif %} /
					<td> Temp : {{ temper[i] }} 도 /
					<td> Humid : {{ humid[i] }} %		 
			</tr>
			{% endfor %}
<!--			<tr>
				<th>Room 1&nbsp;
					<td> Light : ON {{ light[0] }} /
					<td> Temp : 22 {{ temper[0] }} 도 /
					<td> Humid : 45 {{ humid[0] }} %		 
					<td> &nbsp; &nbsp; &nbsp; 
				<th>Room 2&nbsp;
					<td> Light : OFF{{ light[1] }} /
					<td> Temp : 21{{ temper[1] }} 도 /
					<td> humid : 46{{ humid[1] }} %
			</tr>
			<tr>
				<td> &nbsp; &nbsp;
			</tr>
			<tr>
				<th>Room 3 &nbsp;
					<td> Light : ON{{ light[2] }} /
					<td> Temp : 23{{ temper[2] }} 도 /
					<td> Humid : 46{{ humid[2] }} %		 
					<td> &nbsp; &nbsp; &nbsp;
				<th>Room 4 &nbsp;
					<td> Light : ON{{ light[3] }} /
					<td> Temp : 23{{ temper[3] }} 도 /
					<td> Humid : 45{{ humid[3] }} %		 
				</tr> -->
		</tbody>
	</table>
</form>
{% endblock %}
