{% extends "layout.html" %}
{% block title %}Current State{% endblock %}
{% block body %}
<h2>Current State</h2>
{% if error %}<div class=error><strong>Error:</strong> {{ error }}</div>{% endif %}
<form action="" method=post>
	<table align="center">
		<tbody>
			{% for i in range(totalnum) %}			
			<tr>
				<th>Room {{ i }}&nbsp;
					<td> Light : {% if light[i] == 1 %} ON {% else %} OFF{% endif %} /
					<td> Temp : {{ temper[i] }} 도 /
					<td> Humid : {{ humid[i] }} %		 
			</tr>
			{% endfor %}
		</tbody>
	</table>
</form>
{% endblock %}
