{% extends "layout.html" %}
{% block title %}Current State{% endblock %}
{% block body %}
<h2>Current State</h2>
{% if error %}<div class=error><strong>Error:</strong> {{ error }}</div>{% endif %}
<form action="" method=post>
	<table>
		<tbody>
			<tr>
				<th>Room 1&nbsp;
					<td> Light : ON {{ light }} /
					<td> Temp : 22 {{ temp }} 도 /
					<td> Humid : 45 {{ humid }} %		 
					<td> &nbsp; &nbsp; &nbsp; 
				<th>Room 2&nbsp;
					<td> Light : OFF{{ light2 }} /
					<td> Temp : 21{{ temp2 }} 도 /
					<td> humid : 46{{ humid2 }} %
			</tr>
			<tr>
				<td> &nbsp; &nbsp;
			</tr>
			<tr>
				<th>Room 3 &nbsp;
					<td> Light : ON{{ light }} /
					<td> Temp : 23{{ temp }} 도 /
					<td> Humid : 46{{ humid }} %		 
					<td> &nbsp; &nbsp; &nbsp;
				<th>Room 4 &nbsp;
					<td> Light : ON{{ light }} /
					<td> Temp : 23{{ temp }} 도 /
					<td> Humid : 45{{ humid }} %		 
			</tr>
		</tbody>
	</table>
</form>
{% endblock %}
